.example-card {
  max-width: 600px;
}

.example-header-image {
  background-image: url('https://material.io/tools/icons/static/icons/baseline-music_note-24px.svg');
  background-size: cover;
}

.textOverImage {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('https://images.pexels.com/photos/761963/pexels-photo-761963.jpeg');
  background-size: cover;
  width: 500px;
  height: 400px;
  position: relative;
  float: left;
  display: block;
  margin: 0 -24px 16px -24px;
}

.textOverImage2 h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  transform: translate(-50%, -50%);
}
